<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d){faint} %clr(%-5level) %clr(%thread){magenta} %clr(%logger{30}){cyan} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="tc" level="info"/>
    <!-- set to trace for debugging cache issues -->
    <logger name="org.springframework.cache" level="info"/>
    <logger name="org.springframework.data.redis" level="info"/>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
