server:
  servlet:
    context-path: /kafka

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include:
        - health
        - env
  endpoint:
    health:
      probes:
        add-additional-paths: true
      group:
        readiness:
          include:
          - readinessState
          - kafka
          - db

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/catalog
    username: catalog
    password: dummy
    hikari:
      maximum-pool-size: 5

  sql:
    init:
      mode: always

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: spring-examples-kafka
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JacksonJsonDeserializer
      properties:
        "[spring.json.trusted.packages]": com.att.training.springboot.examples
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer
      retries: 3

  output:
    ansi:
      enabled: always
